body {
    font-family: 'Open Sans', serif;
    color: #083451;
}

/*linear-gradient creates opaque, blue, top-layer*/

.topHeader {
    background: linear-gradient( rgba(73, 155, 234, 0.55), rgba(20, 104, 174, 0.6)), url('http://i.imgur.com/KPlqgNY.jpg');
    background-size: 108vw;
    width: 100vw;
    height: 43vw;
    margin: -9px 0 0 -10px;
    padding-right: 8vw;
}
.headerNav {
    margin: 0 0 0 -2%;
}
.headerLogo {
    height: 3.3rem;
    float: left;
    opacity: 0.5;
    margin: .9% 2.4% 0% 11%;
}
.headerLogoLink {
    text-decoration: none;
    color: #083451;
}
.headerAboutLink {
    text-decoration: none;
    color: #083451;
}
.headerAboutLinkText {
    float: left;
    margin: 1.6% 0 0 -1.5%;
    font-size: 1.23em;
    font-weight: 800;
}
.searchIcon {
    float: right;
    margin: 2% 0.5% 0% 5%;
}
.ulHeaderNav {
    float: right;
    font-family: 'Oswald';
    margin: 1.4% 12% 0 0;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: .5px;
    word-spacing: 3px;
}
.liHeaderNav {
    list-style-type: none;
    display: inline;
    padding: 0 5px;
    margin-right: 2.2%;
    font-size: 1.2em;
}
.searchIcon {}
.hero {
    display: inline-block;
    margin: 4.8% 0 0 -2%;
    text-align: center;
}
h1 {
    font-size: 7.7rem;
    color: #FFF;
    font-weight: 500;
    word-spacing: -8px;
    letter-spacing: -1.5px;
    margin-top: 9%;
}
.hero p {
    margin-top: -11%;
    word-spacing: .5px;
    font-size: 1.13rem;
    font-weight: 400;
}

/*- - - - - -Main article starts here- - - - - - */

main {
    width: 67%;
    display: inline-block;
}
article {
    font-size: 1.1em;
    margin-left: 19%;
    letter-spacing: .01em;
    line-height: 1.5em;
    float: left;
}
.heading2 {
    display: inline-block;
    /*margin-left: 188px;*/
}
.articleHeading {
    font-family: 'Oswald';
    font-size: 4.8rem;
    font-weight: 500;
    word-spacing: -0.1em;
    line-height: 5.4rem;
    margin: 9% 0 0 0%;
    letter-spacing: 0.01em;
}

/*all profile images will have blue gradient as default look*/

.publishInfo {
    color: #A7B6C2;
    display: inline-block;
    margin: 0% 0 0 1.1%;
    font-size: 1rem;
}
.publishInfo a {
    color: #146FB3;
    text-decoration: none;
    margin: 0% 2% 0% 2%;
    font-size: 1rem;
}
.profilePic {
    background: linear-gradient( rgba(73, 155, 234, 0.55), rgba(20, 104, 174, 0.6)), url('https://dl.dropboxusercontent.com/u/19411356/day-03/profilePic.jpg');
    background-repeat: no-repeat;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    margin-top: 1%;
}
.articleHeading {
    margin: 5% 1% 0% 1%;
    line-height: 1.67em;
}
blockquote {
    color: #106DB3;
    font-family: 'Open Sans';
    font-size: 2.3rem;
    font-weight: 100;
    letter-spacing: -0.09rem;
    word-spacing: -0.5rem;
    margin: 6.3% 0% 0% 3.5%;
}
.ulBlogButtons {
    list-style-type: none;
    margin: 4.5% 0 0 -4%;
    padding-bottom: 9.5%;
}
.liBlogButtons {
    background: #A3B3BF;
    display: inline-block;
    /* width: 153px; */
    height: 2.5vw;
    margin: 1% .5% 0% 0%;
    padding-right: 1%;
}
.iconButtons {
  width: 1.3vw;
  color: white;
  background-color: #5e686f;
  padding: 0.6em;
  height: 1.5vw;
  margin-left: -2%;
  text-align: center;
}
.iconLinks {
    color: #FFF;
    text-decoration: none;
    padding: 0% 0% 0 2%;
}

/*- - - -Aside CSS starts here- - - - */

aside {
    float: right;
    width: 32%;
    text-align: center;
}
.bigProfilePic {
    background: linear-gradient( rgba(73, 155, 234, 0.55), rgba(20, 104, 174, 0.6)), url('https://dl.dropboxusercontent.com/u/19411356/day-03/profilePic.jpg');
    background-repeat: no-repeat;
    height: 23%;
    width: 23%;
    border-radius: 50%;
    margin-top: 21%;
}
h5 {
    font-size: 20px;
    margin-top: 1%;
}
.socialMediaInfo {
    color: #106DB3;
    padding: 0;
}
.socialMediaLinks {
    list-style-type: none;
    margin: -7% 8% 14% 0;
}
.socialMediaLinks li {
    display: inline-block;
    padding: 0 2%;
}
.socialMediaLinks a {
    color: #A7B6C2;
    text-decoration: none;
    font-size: 16px;
}

/*- - - - - - - -Ad and Image Section - - - - - */

figure {
    font-family: 'Open Sans';
    color: #A7B6C2;
}
.imgAd {
    height: 25vw;
    width: 23.2vw;
    margin: 2% 3% 0% 0%;
}
figcaption a {
    text-decoration: underline;
    color: #A7B6C2;
    padding: 1% 0 0 62%;
}
.adSidebar {
    text-align: left;
    width: 74%;
    margin: 0 auto;
    margin-top: 12%;
}
.h3Sidebar {
    font-family: 'Oswald';
    color: #1771B5;
    font-size: 22px;
    margin-bottom: -3%;
}

/*Popular Posts Section*/

.popularPosts {
    border-top: solid #E8ECEF 1px;
    width: 100%;
}

.popularHeading {
    font-family: 'Oswald';
    font-size: 4.78em;
    font-weight: 100;
    margin: 2% 0 0 8%;
    text-align: center;
}
.ulPopularPosts {
  list-style-type: none;
  margin: 1% 0% 0% -4%;
  height: 28vw;
}

.ulPopularPosts ::after {
    display: block;
    content: '';
    clear: both;
}

.liPopPosts {
  float: left;
  width: 25vw;
  height: 27.5vw;
  margin: 2% 0% 0% 0%;
}

.aPostTitleText {
  text-decoration: none;
  color: #083452;
  font-size: 2rem;
  margin: 0;
  font-weight: 900;
}

/*Popular Post image section*/

.post1 {
    background: linear-gradient( rgba(73, 155, 234, 0.55), rgba(20, 104, 174, 0.6)), url('https://dl.dropboxusercontent.com/u/19411356/day-03/kitten-400x400.jpeg');
    background-repeat: no-repeat;
}
.post2 {
    background: linear-gradient( rgba(73, 155, 234, 0.55), rgba(20, 104, 174, 0.6)), url('https://dl.dropboxusercontent.com/u/19411356/day-03/Beer%20Sampling.jpg');
    background-repeat: no-repeat;
}
.post3 {
    background: linear-gradient( rgba(73, 155, 234, 0.55), rgba(20, 104, 174, 0.6)), url('https://dl.dropboxusercontent.com/u/19411356/day-03/bar-400x400.jpg');
    background-repeat: no-repeat;
}
.post4 {
    background: linear-gradient( rgba(73, 155, 234, 0.55), rgba(20, 104, 174, 0.6)), url('https://dl.dropboxusercontent.com/u/19411356/day-03/nick-400x400.jpg');
    background-repeat: no-repeat;
}

/*- - - - - - - Footer Section - - - - - - - - -*/

.TIYlogo {
    width: 10%;
}
