body {
    font-family: 'Open Sans', serif;
    color: #083451;
    margin: 0;
}

/*linear-gradient creates opaque, blue, top-layer*/

.topHeader {
    background: linear-gradient( rgba(73, 155, 234, 0.55), rgba(20, 104, 174, 0.6)), url('http://i.imgur.com/KPlqgNY.jpg');
    background-repeat: no-repeat;
    height: 40.3vw;
}
.divLogoLeft {
    float: left;
    margin: .6rem 0rem -16rem 8.9rem;
}
.headerNav {
    margin: 0.1rem 11.4rem 0 0;
    float: right;
}
.headerLogo {
    width: 45px;
    opacity: 0.5
}
.headerLogoLink {
    text-decoration: none;
    color: #083451;
}
.headerAboutLink {
    text-decoration: none;
    color: #083451;
}
.headerAboutLinkText {
    display: block;
    margin: -2.5rem 0 0rem 3.5rem;
    font-size: 1rem;
    font-weight: 800;
}

.searchIcon {
    float: right;
    margin: .1rem .1rem 0 0.2rem;
    /*width: 75px;*/
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   transition: all .5s ease;
}

.searchIcon:focus {
  background-color: white;

}

.ulHeaderNav {
    float: right;
    font-family: 'Oswald';
    margin: .9rem -1rem 0 0rem;
    font-size: .9rem;
    font-weight: 800;
}
.liHeaderNav {
    list-style-type: none;
    display: inline;
    padding: 0 .2rem;
    margin-right: .2rem;
    font-size: 1.2em;
}
.hero {
    display: inline-block;
    margin: 11.3% 0rem 0 14.7%;
    text-align: center;
}
h1 {
    font-size: 8vw;
    color: #FFF;
    font-weight: 500;
    word-spacing: -.5rem;
    letter-spacing: -.13rem;
    margin: 0;
}
.hero p {
    margin: -2% 0rem 0rem 0rem;
    word-spacing: -0.5px;
    font-weight: 400;
    font-size: .95rem;
}

/*- - - - - -Main article starts here- - - - - - */

main {
    width: 50vw;
    display: inline-block;
}
article {
    margin: 0.7rem 0rem 0 10.2rem;
    float: left;
}
.heading2 {
    display: inline-block;
}
.articleHeading {
    font-family: 'Oswald';
    line-height: 4.4rem;
    font-size: 3.8rem;
    letter-spacing: 0.0195rem;
    margin-bottom: .4rem;
}
.articleContent {
    width: 48vw;
    line-height: 1.65rem;
}
.articleContent p {
    margin: 1.2rem 0 1.6rem 0;
    color: #5E686F;
}
blockquote {
    color: #106DB3;
    font-family: 'Open Sans';
    font-size: 1.8rem;
    font-weight: 100;
    word-spacing: -0.5rem;
    margin: 6% 0 7% 3.5%;
}

/*all profile images will have blue gradient as default look*/

.publishInfo {
    color: #A7B6C2;
    margin: -0.5rem 0rem 1rem 0rem;
    font-size: .8rem;
}
.publishInfo a {
    color: #146FB3;
    text-decoration: none;
    margin: 0% 2% 0% 1%;
}
.profilePic {
    background: linear-gradient( rgba(73, 155, 234, 0.55), rgba(20, 104, 174, 0.6)), url('https://dl.dropboxusercontent.com/u/19411356/day-03/profilePic.jpg');
    background-repeat: no-repeat;
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
  }

.ulBlogButtons {
    list-style-type: none;
    margin: -1% 0% 0 -10%;
    padding-bottom: 8%;
    width: 40vw;
    text-align: center;
    font-size: 1vw;
}
.liBlogButtons {
    background: #A3B3BF;
    display: inline-block;
    margin: 0% 0% 0% 6%;
}
.iconButtons {
    color: white;
    background-color: #5e686f;
    padding: .7em .8em .8em .8em;
    height: .8vw;
    margin-left: -45%;
}
.iconLinks {
    color: #FFF;
    text-decoration: none;
}

/*- - - -Aside CSS starts here- - - - */
    aside {
        float: right;
        width: 40vw;
        text-align: center;
        margin: 5.5rem .7rem 0 0rem;
    }
    .socialMediaInfo {
        color: #106DB3;
        margin: -1% 11% 0 0%;
    }
    .bigProfilePic {
    background: linear-gradient( rgba(73, 155, 234, 0.55), rgba(20, 104, 174, 0.6)), url('https://dl.dropboxusercontent.com/u/19411356/day-03/profilePic.jpg');
    background-repeat: no-repeat;
    height: 18%;
    width: 18%;
    border-radius: 50%;
    margin: 0 0 1% 0;
    }

    /*.imgBlueBig {
      background: #106DB3;
      width: 7vw;
      height: 7vw;
      border-radius: 50%;
      padding: 0;
      margin: 0;
      display: inline;
    }*/

    h5 {
        margin: 0;
        font-size: 1rem;
    }
    .socialMediaLinks {
        list-style-type: none;
        margin: -1px 5% 0 0;
    }
    .socialMediaLinks li {
        display: inline-block;
        padding: 0 3% 0% 0%;
    }
    .socialMediaLinks a {
        color: #A7B6C2;
        text-decoration: none;
        font-size: 1vw;
}

/*AD/Figure section starts here*/

figure {
    font-family: 'Open Sans';
    color: #A7B6C2;
    width: 36.5vw;
    font-size: 1vw;
    margin: 10% 0% 0 -1%;
}
.figcaption {
    margin-right: 5vw;
}
.imgAd {
    height: 23vw;
    width: 21.5vw;
    padding-bottom: .5%;
}
figcaption {
    padding: 0 0 1.2vw 15vw;
}
figcaption a {
    text-decoration: underline;
    color: #A7B6C2;
}
.adSidebar {
    text-align: left;
    width: 26vw;
    margin: 0 auto;
}
.h4Sidebar {
    font-family: 'Oswald';
    color: #1771B5;
    font-size: 1.5vw;
    font-weight: 100;
    margin-bottom: 0;
    word-spacing: -0.2vw;
}
.sidebarText {
    font-size: 1.1vw;
    width: 22vw;
    margin: 2% 0 0 0;
    line-height: 1.8vw;
    color: #A3B3BF;
}

/* - - - - - - -Popular Posts Section- - - - - - - - -*/

.popularPosts {
    border-top: solid #E8ECEF .1rem;
    height: 33vw;
    margin-top: 1%;
}
.popularHeading {
    font-family: 'Oswald';
    font-size: 4em;
    font-weight: 500;
    margin: 2% 0 0 0%;
    text-align: center;
}
.ulPopularPosts {
    list-style-type: none;
    height: 28vw;
    width: 106vw;
    margin: 2% 0% 0% -1%;
    padding: 0;
}
.ulPopularPosts::after {
    display: block;
    content: '';
    clear: both;
}
.liPopPosts {
    float: left;
    width: 26vw;
    height: 25.5vw;
    padding: 0;
    font-family: 'Oswald';
    font-weight: 900;
}
.aPostTitleText {
    text-decoration: none;
    color: #083452;
    font-size: 1.8rem;
    margin: 0;
    position: relative;
}

/*Popular Post image section*/

.post1 {
    background: linear-gradient( rgba(73, 155, 234, 0.55), rgba(20, 104, 174, 0.6)), url('https://dl.dropboxusercontent.com/u/19411356/day-03/kitten-400x400.jpeg');
    background-repeat: no-repeat;
}
.post2 {
    background: linear-gradient( rgba(73, 155, 234, 0.55), rgba(20, 104, 174, 0.6)), url('https://dl.dropboxusercontent.com/u/19411356/day-03/Beer%20Sampling.jpg');
    background-repeat: no-repeat;
}
.post3 {
    background: linear-gradient( rgba(73, 155, 234, 0.55), rgba(20, 104, 174, 0.6)), url('https://dl.dropboxusercontent.com/u/19411356/day-03/bar-400x400.jpg');
    background-repeat: no-repeat;
}
.post4 {
    background: linear-gradient( rgba(73, 155, 234, 0.55), rgba(20, 104, 174, 0.6)), url('https://dl.dropboxusercontent.com/u/19411356/day-03/nick-400x400.jpg');
    background-repeat: no-repeat;
}
.postLink1 {
    top: 21.5vw;
    left: 1.5vw;
}
.postLink2 {
    top: 21.5vw;
    left: 1vw;
}
.postLink3 {
    top: 18.5vw;
    left: 1vw;
}
.postLink4 {
    top: 21.5vw;
    left: 1vw;
}

/*- - - - - - - Footer Section - - - - - - - - -*/

footer {
    background: #083452;
    color: #FFF;
    font-size: .8rem;
    font-weight: 100;
}

footer ::after {
  display: block;
  content: '';
  clear: both;
}

.footerLogo {
    float: left;
    margin: -0.2rem 0rem 0 -1rem;
}

.footerLogo a {
}
.TIYlogo {
  width: 5.5vw;
  margin: 0.8rem 0rem 0 10.5rem;
}
.TIYcopy {
  margin: 0;
display: inline-block;
padding: 2.5rem 0 3rem 0rem;
word-spacing: .09vw;
}
.footerNav {
    float: right;
    margin: 2% 12% 0 0;
    word-spacing: .09vw;
}
.ulFooterNav {
    list-style-type: none;
    width: 100%;
}
.liFooterNav {
    display: inline-block;
    padding: 0 2% 0 1%;
    border-right: solid #FFF 1px;
}
.liFooterNav a {
    text-decoration: none;
    color: #FFF;
}
.liFooterNavLast {
    border: none;
}

/*- - - - - -Psudo Classes - - - - - -*/
a:hover {
  font-weight: bold;
}
a:visited {
  color: currentColor;
}
.liPopPosts:hover {
  color: #FFF;
}

.post1:hover {
  background: url('https://dl.dropboxusercontent.com/u/19411356/day-03/kitten-400x400.jpeg');
  background-repeat: no-repeat;
  color: #FFF;
}
.post2:hover {
  background: url('https://dl.dropboxusercontent.com/u/19411356/day-03/Beer%20Sampling.jpg');
  background-repeat: no-repeat;
  color: #FFF;
}
.post3:hover {
  background: url('https://dl.dropboxusercontent.com/u/19411356/day-03/bar-400x400.jpg');
  background-repeat: no-repeat;
  color: #FFF;
}
.post4:hover {
  background: url('https://dl.dropboxusercontent.com/u/19411356/day-03/nick-400x400.jpg');
  background-repeat: no-repeat;
  color: #FFF;
}


.aPostTitleText:hover {
    color: #FFF;
}

/*Queries */
@media (max-width: 710px) {
    .divLogoLeft {
        display: none;
        margin: 0;
        padding: 0;
    }
    .headerNav {
        margin: 0rem 11rem -5rem 8rem;
        width: 100%;
    }
}

@media (max-width: 910px) {
  aside {
    float: none;
    width: 50vw;
  }
}
